<div id="page-veiculo">
  <div class="content-wrapper">
    <div class="info">
      <h1>Veiculo de placa XXXXXXX</h1>
      <div class="itens-veiculo">
        <p>TESTE</p>
        <p>TESTE</p>
        <p>TESTE</p>
        <p>TESTE</p>
        <p>TESTE</p>
        <p>TESTE</p>
      </div>
      <div class="add-veiculo">
        <button id="cad" mat-mini-fab color="black" (click)="btnFunc()">-</button>
      </div>
      <div class="log">12/11/2020 - Veiculo entrou para revisao - R$200</div>
    </div>
  </div>
</div>
